{include file="header.html" title="GMS"}
<script>
window.onload = function() {

    var name = document.getElementById("name");
    name.addEventListener("keyup",function(e){
        const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "?m=action_ajax&action=getname&text="+encodeURIComponent(name.value)+"&modelid="+encodeURIComponent({$actioninfo.modelid})+"&actionid="+encodeURIComponent({$actioninfo.id}));

        xhttp.onload = function() {
            document.getElementById("namelist").innerHTML =
                this.responseText;
        }
        xhttp.send();
    },false);

    name.addEventListener("focusout",function(e){
        const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "?m=action_ajax&action=getsetting&text="+encodeURIComponent(name.value)+"&modelid="+encodeURIComponent({$actioninfo.modelid})+"&actionid="+encodeURIComponent({$actioninfo.id}));

        xhttp.onload = function() {
            
            var obj = JSON.parse(this.responseText)
            if (obj === null) {
                return "null";
            }

            document.getElementById("dataname").value=obj.dataname;
            document.getElementById("datatype").value=obj.datatype;
            document.getElementById("objectname").value=obj.objectname;
            document.getElementById("defval").value=obj.defval;
            document.getElementById("description").value=obj.description;
        }
        xhttp.send();
    },false);

}
</script>

<TABLE>
	<THEAD>
    <TR>
        <TD width="1%">
            Name:
        </TD>
        <TD>
			{$actioninfo.name}
        </TD>
    </TR>
	</THEAD>
    <TR>
        <TD>
            <B>Model:</B>
        </TD>
        <TD>
			<a href="?m=modelinfo&id={$actioninfo.modelid}" title="Action Edit">{$actioninfo.modelname}</a>
        </TD>
    </TR>
    <TR>
        <TD>
            <B>Description:</B>
        </TD>
        <TD>
            {$actioninfo.description}
        </TD>
    </TR>
    <TR class="foot">
        <TD colspan="2">
           <a href="?m=actiondel&id={$actioninfo.id}" title="Delete action"> Delete</a>
			<a href="?m=actionedit&id={$actioninfo.id}" title="Action Edit">Edit</a>
        </TD>
    </TR>
</TABLE>
<BR>
<TABLE>
	<THEAD>
    <TR>
        <TH align="left" width="1%">
            Tasks
        </TH>
        <TH  class="head" colspan="4" align="right">
        </TH>
    </TR>
	</THEAD>
    <TR class="head">
        <TD>
            Name:
        </TD>
        <TD>
			Data name:
        </TD>
        <TD>
			Data type:
        </TD>
        <TD>
			Object name:<BR>
            Default val:
        </TD>
        <TD>
			Action:
        </TD>
    </TR>
	{foreach from=$tasklist item=task}
    <TR class="list {cycle values="light,dark"}">
        <TD>
            {$task.name}
        </TD>
        <TD>
            {$_DATANAME[$task.dataname]}
        </TD>
        <TD>
            {$_DATATYPE[$task.datatype]}
        </TD>
        <TD>
            {$task.objectname}<BR>
            {$task.defval}
        </TD>
		<TD align="right">
			<a href="?m=taskdel&id={$task.id}" title="Delete task">X</a>
		</TD>
    </TR>
	{/foreach}
	<form action="?m=taskadd&amp;actionid={$actioninfo.id}" method="post">
    <TR>
        <TD colspan="5" align="left" class="lfoot">
			<p style="display: none;">
				<INPUT type="submit" class="hiddenbtn">
				<INPUT type="text" name="taskadd[actionid]" value="{$actioninfo.id}" class="hiddenbtn">
			</p>
			Name:<input type="text" id="name" name="taskadd[name]" value="{$taskdata.name}" list="namelist size="16" maxlength="64" placeholder="MyName">
                <datalist id ="namelist"></datalist>
			Data Name:<SELECT size="1" id="dataname" name="taskadd[dataname]" {if $error.dataname}title="{$error.modelid}" style="background-color : #FF0000;"{/if} >
				<OPTION VALUE="0">Select</OPTION>
				{foreach from=$_DATANAME key=key item=name}
           			<OPTION value="{$key}" {if $key==$actiondata.dataname}SELECTED{/if}>{$name}</OPTION>
				{/foreach}
			</SELECT>

			Data Type:<SELECT size="1" id="datatype" name="taskadd[datatype]" {if $error.dataname}title="{$error.modelid}" style="background-color : #FF0000;"{/if} >
				<OPTION VALUE="0">Select</OPTION>
				{foreach from=$_DATATYPE key=key item=name}
           			<OPTION value="{$key}" {if $key==$actiondata.datatype}SELECTED{/if}>{$name}</OPTION>
				{/foreach}
			</SELECT>
			<BR>
			Object name:<input type="text" id="objectname" name="taskadd[objectname]" size="32" placeholder="InternetGatewayDevice.WANDevice.1.WANConnectionDevice.1.WANIPConnectionNumberOfEntries" title="" value="{$taskdata.objectname}">
            <BR>
			Default value:<input type="text" id="defval" name="taskadd[defval]" {if $error.defval}title="{$error.defval}" style="background-color : #FF0000;"{/if} >
			<BR>
			Description:<input type="text" id="description" name="taskadd[description]" size="32" title="" value="{$taskdata.description}">
<input type="submit" value="Save" name="submit">
        </TD>
    </TR>
	</form>
</TABLE>
