{include file="header.html" title="GMS"}
<form action="?m=actionadd" method="post">
<TABLE>
	<THEAD>
    <TR>
        <TD>
            Name:
        </TD>
        <TD>
			<input type="text" name="actionadd[name]" class="name" maxlength="64" value="{$actiondata.name}" 
{if $error.name}title="{$error.name}" style="background-color : #FF0000;"{/if}>
        </TD>
    </TR>
	</THEAD>
    <TR>
        <TD>
            Model:
        </TD>
        <TD>
			<SELECT size="1" name="actionadd[modelid]" {if $error.modelid}title="{$error.modelid}" style="background-color : #FF0000;"{/if} >
				<OPTION VALUE="0">Select</OPTION>
				{foreach from=$modellist key=key item=model}
           			<OPTION value="{$model.id}" {if $model.id==$actiondata.modelid}SELECTED{/if}>{$model.name} ({$model.id})</OPTION>
				{/foreach}
			</SELECT>
        </TD>
    </TR>
    <TR>
        <TD>
            Description:
        </TD>
        <TD>
            <textarea name="actionadd[description]" id="description" class="description">{$model.description}</textarea>
        </TD>
    </TR>
    <TR class="foot">
        <TD colspan="2">
            <input type="submit" value="Save" name="submit">
        </TD>
    </TR>
</TABLE>
</form>
