<HTML>
<HEAD>
<TITLE>GMS - Login</TITLE>
</HEAD>

<BODY bgcolor="#DDDDDD">
<h2>Login</h2>
<form action="?m=login" method="post">
<TABLE>
<THEAD>
    <TR>
        <TD width="1%">
            Name:
        </TD>
        <TD>
			<input type="text" name="login[login]" id='login'>
        </TD>
    </TR>
</THEAD>
    <TR>
        <TD>
            Password:
        </TD>
        <TD>
			<input type="password" name="login[passwd]" id='passwd'>
        </TD>
    </TR>
    <TR class="foot">
        <TD colspan="2">
            <input type="submit" value="login" name="submit">
        </TD>
    </TR>
</TABLE>
</form>
