{include file="header.html" title="GMS"}

<form action="?m=nodeconfigadd&nodeid={$configdata.nodeid}" method="post">
<input type="hidden" name="configadd[nodeid]" value="{$configdata.nodeid}">
<TABLE>
<THEAD>
    <TR>
        <TD width="1%">
            Name:
        </TD>
        <TD>
            <SELECT size="1" name="configadd[name]" {if $error.name}title="{$error.name}" style="background-color : #FF0000;"{/if} value="{$configdata.name}">
				<OPTION VALUE="0">Select</OPTION>
				{foreach from=$tasklist key=key item=task}
           			<OPTION value="{$task.name}" {if $configdata.name==$task.name}SELECTED{/if}>{$task.name}</OPTION>
				{/foreach}
			</SELECT>
        </TD>
    </TR>
</THEAD>
    <TR>
        <TD>
            Value:
        </TD>
        <TD>
            <input type="text" name="configadd[val]" size="32" title="" value="{$configdata.val}">
        </TD>
    </TR>
    <TR>
        <TD>
            Date from:
        </TD>
        <TD>
            <input type="text" name="configadd[datefrom]" size="10" {if $error.datefrom}title="{$error.datefrom}" style="background-color : #FF0000;"{/if} value="{if $configdata.datefrom}{$configdata.datefrom|date_format:"%Y/%m/%d"}{/if}">
        </TD>
    </TR>
    <TR>
        <TD>
            Date to:
        </TD>
        <TD>
            <input type="text" name="configadd[dateto]" size="10" {if $error.dateto}title="{$error.dateto}" style="background-color : #FF0000;"{/if} value='{if $configdata.dateto}{$configdata.dateto|date_format:"%Y/%m/%d"}{/if}'>
        </TD>
    </TR>
    <TR>
        <TD>
            Node:
        </TD>
        <TD>
			<SELECT size="1" name="configadd[nodeid]" {if $error.modelid}title="{$error.modelid}" style="background-color : #FF0000;"{/if} >
				<OPTION VALUE="0">Select</OPTION>
				{foreach from=$nodelist key=key item=node}
           			<OPTION value="{$node.id}" {if $model.id==$actiondata.modelid}SELECTED{/if}>{$node.name} ({$node.id})</OPTION>
				{/foreach}
			</SELECT>
        </TD>
    </TR>
    <TR class="foot">
        <TD colspan="2">
            <input type="submit" value="Save" name="submit">
        </TD>
    </TR>
</TABLE>
</form>
